<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark pink ie-nav" [containerInside]="true">
  
    <a class="navbar-brand" routerLink='/landing'>Form Scanner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/stats" routerLinkActive="active">Scan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Login</a>
        </li>
      </ul>
    </div>
  
</mdb-navbar>

<router-outlet></router-outlet>