*{
    font-family: 'Cabin', sans-serif;
}
.row{
    height: 45vh;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.row h3{
    font-size: 7em;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.row h3::after{
    content: 'Data Collection';
    display: block;
    font-size: 1.6rem;
    text-align: center;
    color: crimson;
}